@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  /*box-sizing: border-box;*/
  font-family: "montserrat", sans-serif;
  /*background-color: rgb(201, 12, 12);*/
}

.container {
  /*background: rgb(255, 255, 255);
  width: 390px;*/
  height: 100%;
  margin: auto;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  height: fit-content; */
}

.form-daftar {
  /* height: 56%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#daftar {
  width: 100%;
  padding-left: 10%;
  text-align: start;
  color: #B31312;
  font-size: 25px;
  font-weight: bold;
}

.form-daftar form {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-daftar form .no-nik,
.form-daftar form .password,
.form-daftar form .con-password,
.form-daftar form .email,
.form-daftar form .alamat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 3% 0;
  border: solid 1px black;
  border-radius: 13px;
  text-align: center;
}

/*.form-daftar form .wrapper-nama {
  display: flex;
  justify-content: center;
}*/

.form-daftar form .wrapper-nama .nama-depan,
.form-daftar form .wrapper-nama .nama-belakang {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37.5%;
  margin: 3% 4%;
  border: solid 1px black;
  border-radius: 13px;
  text-align: center;
}

.form-daftar form .wrapper-nama #nama-depan,
.form-daftar form .wrapper-nama #nama-belakang {
  width: 100%;
  padding: 10% 0;
  /* background-color: firebrick; */
  border: none;
  border-radius: 13px;
  text-align: center;
  font-size: small;
  font-weight: bold;
  filter: opacity(0.6);
}

.form-daftar form #no-nik,
.form-daftar form #password,
.form-daftar form #con-password,
.form-daftar form #email,
.form-daftar form #alamat {
  width: 100%;
  padding: 4% 0;
  border-radius: 0 13px 13px 0;
  border: none;
  font-size: small;
  text-align: center;
  font-weight: bold;
  filter: opacity(0.6);
}

.form-daftar form .bi {
  margin: 0 2%;
}

.form-daftar #login {
  width: 100%;
  padding-left: 10%;
  text-align: start;
  color: #b31312;
  font-size: 25px;
}

.cta {
  /* margin-top: 5%; */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cta input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.cta .cta-kebijakan {
  margin: 0 10%;
  display: flex;
  align-items: center;
  /* background-color: #0093ED; */
}

.logo {
  /*height: 25%;
  padding: 6px;*/
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 128px;
  height: auto;
}

#submit {
  width: 80%;
  padding: 3%;
  border-radius: 10px;
  border: none;
  background: #b31312;
  color: white;
  margin-top: 12px;
  cursor: pointer;
}

#submit:hover {
  background-color: #890606;
}

.saran {
  height: auto;
  margin-top: 10%;
  width: 100%;
  /* background: rgb(133, 112, 112); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
}

.saran span {
  /* position: relative; */
  /* margin-bottom: 24px; */
  left: 0px;
}

.saran span a {
  color: #0093ed;
  text-decoration: none;
}